/@import url("https://fonts.googleapis.com/css?family=Orbitron|Raleway|Roboto");
/*@import url('https://cdn.jsdelivr.net/gh/dracula/logseq@master/custom.css'); */

:root {
  --ls-block-bullet-active-color: your-favorite-color;
  --ls-block-bullet-threading-width: 2px;
	font-size: 18px;
}

body, html, a, div, textarea {
  font-family: "Orbitron", serif,"Raleway", monospace, "未来荧黑", sans-serif !important;
  font-size: 18px;
}

code {
  border-radius: 0;
  margin-left: 2px;
  border: none;
  background-image: linear-gradient(to right, #F4F0F0, #EEEEEE);
}


   /* ========  侧边栏设置成竖屏显示 ========  */
   * vertical style of sidebar in custom.css */
   .sidebar-item.content {
     min-width: 33vw;
     overflow-y: scroll;
   }
   
   .sidebar-item-list.scrollbar-spacing {
     display: flex;
     flex-direction: row;
     padding-bottom: 0;
   }
   
   
   div#right-sidebar {
     width: 50%;
   }
   
   
   /* hidden useless elements in export.css
   .cp__right-sidebar-settings .ml-4.text-sm:last-child {
     display: none;
   }
   
   .origin-top-right .menu-link:nth-child(1),
   .origin-top-right .menu-link:nth-child(3),
   .origin-top-right .menu-link:nth-child(6),
   .origin-top-right .menu-link:nth-child(8) {
     display: none;
   }
   
   .origin-top-right hr {
     display: none;
   }
   
   .flashcards-nav {
     display: none;
   }
   
   .nav-content-item.recent.is-expand {
     display: none;
   } */

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 220;
    --background-color-s: 16%;
    --background-color-l: 14%;
    --primary-color-h: 193;
    --primary-color-s: 43%;
    --primary-color-l: 67%;
    --secondary-color-h: 179;
    --secondary-color-s: 25%;
    --secondary-color-l: 65%;
    --accent-color-h: 311;
    --accent-color-s: 20%;
    --accent-color-l: 63%;
    --primary-text-h: 218;
    --primary-text-s: 27%;
    --primary-text-l: 94%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 218;
    --background-color-s: 27%;
    --background-color-l: 94%;
    --primary-color-h: 193;
    --primary-color-s: 53%;
    --primary-color-l: 50%;
    --secondary-color-h: 179;
    --secondary-color-s: 39%;
    --secondary-color-l: 55%;
    --accent-color-h: 312;
    --accent-color-s: 32%;
    --accent-color-l: 56%;
    --primary-text-h: 222;
    --primary-text-s: 16%;
    --primary-text-l: 28%;
}
